{% extends "encyclopedia/layout.html" %}

{% block tittle %}
    Encyclopedia - {% if edit_mode %} Edit page: {{edit_page_title}} {% else %} Create a New Page {% endif %}
{% endblock %}

{% block body %}
    <h1>
        {% if edit_mode %} Edit Page: {{edit_page_title}} 
        {% else %} Create a New Page 
        {% endif %}
    </h1>
    <form class="container" method="post" action=
    {% if edit_mode %} "{% url 'save edited page' edit_page_title %}" 
    {% else %} "{% url 'save page' %}" 
    {% endif %}>
    <!-- first if edit mode is True: the statement will be executed
        else: if edit mode is False: t -->
        {% csrf_token %}
        <div id="entry-title-section" class="row">
            <div class="container">
                <div class="row">
                    <label for="title">
                        Title of the new wiki entry:
                    </label>
                </div>
                <div class="row">
                    <input name="title" placeholder="type new entry title..." id="title" type="text">
                </div>
            </div>
        </div>
        
        <div id="entry-body-section" class="row">
            <div class="container">
                <div class="row">
                    <label for="entry-content">Enter your entry contents in Markdown format here... </label>
                </div>
                <div>
                    <textarea 
                    id="entry-content"
                    name="entry-content" 
                    placeholder="type your entry...">
                    </textarea>
                </div>
            </div>
        </div>

        <div id="entry-submit-button" class="row">
            <input type="submit" value="Save new page">
        </div>
    </form>
{% endblock %}